.ver{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: Roboto, serif;
  overflow: auto;
}

.menu {
  width: auto;
  padding: 0.75% 1%;
  background-color: white;
  margin-left: 3%;
  margin-top: 2%;
  color: black;
  cursor: pointer;
}
.menu2 {
  width: auto;
  padding: 0.75% 1%;
  background-color: white;
  margin-left: 1%;
  margin-top: 2%;
  color: black;
  cursor: pointer;
}

.menu3{
  width: auto;
  padding: 0.75% 1%;
  background-color: mediumturquoise;
  margin-left: 1%;
  margin-top: 2%;
  color: black;
  cursor: pointer;
}

.perfil{
  width: auto;
  padding: 0.75% 1%;
  background-color: mediumturquoise;
  margin-left: 65%;
  margin-top: 1%;
  color: black;
  cursor:pointer;
}

.tem{
  margin-left: 10%;
}

.category{
  margin-left: 2%;
}

.date{
  margin-left: 25%;
}

.answer{
  margin-left: 25%;
}

.new{
  margin-left: 75%;
  background-color: mediumturquoise;
  cursor: pointer;
}

.tit{
  margin-left: 5%;
  font-size: 25px;
  color: black;
}

.mini{
  margin-left: 5%;
  font-size: 14px;
  color: black;
  font-style: italic;
}



.contenedor{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  border: solid 1px black;
  background-color: mediumturquoise;
  box-shadow: 0 10px 10px grey;
}

.edit{
  font-size: 12px;
  cursor: pointer;
  margin-left: 70%;
}

.elim{
  font-size: 12px;
  cursor: pointer;
  margin-left: 70%;
}

.comments{
  font-size: 25px;
  margin-left: 20%;
}

.icon2{
  height: 1%;
  width: 1%;
  margin-left: 5%;
}

.añadir{
  display: inline-block;
  margin-left: 20%;
}

.time{
  margin-left: 12%;
  font-size: 12px;
}

.tit2{
  font-size: 14px;
  color: black;
}


.icon3{
  width: 30px;
  height: 30px;
  margin-left: 15%;
}

.nom{
  font-size: 12px;
  margin-left: 25%;
}

.icon4{
  width: 30px;
  height: 30px;
  margin-left:175%;
}

.nom2{
  font-size: 12px;
  margin-left: 175%;
}

.com{
  margin-left: 120%;
  background-color: mediumturquoise;
}

.elim2{
  font-size: 12px;
  margin-left: 90%;
  cursor: pointer;
}
