<div *ngIf="mostrar" class="ver">
  <button type="button" class="menu" (click)="Servicio.nextMessageCentral(true);Servicio.nextMessageVistaLista(false);
Servicio.nextMessageVistaAsig(false);Servicio.nextMessageVerTema(false)">Inicio</button>
  <button type="button" class="menu2" (click)="Servicio.nextMessageVistaLista(true);
Servicio.nextMessageVistaAsig(false);Servicio.nextMessageVerTema(false)">{{curso}}</button>
  <button type="button" class="menu3" (click)="Servicio.nextMessageVistaAsig(true);Servicio.nextMessageIDAsig(idAsig);Servicio.nextMessageVerTema(false)">{{subject}}</button>
  <button type="submit" class="perfil" (click)="Servicio.nextMessageVerPerfilUser(true); Servicio.nextMessageVerTema(false)">Mi cuenta</button>
  <br>
  <br>
  <div class="contenedor">
    <p class="tit">{{titulo}}</p>
    <p class="mini">Publicado el {{fecha}} en {{curso}} año, {{subject}}</p>
    <div *ngIf="cat== 'Duda' && (idCreador == idLog || ad) && !res && !(titulo.includes('RESUELTO'))">
      <input style="margin-left: 5%" type="checkbox" (click)="resolv()"> Resuelto
    </div>
    <br>
    <textarea  required name="body"  readonly="readonly" [(ngModel)]="body" rows="4" cols="50" id="commentBodyField"  style="margin-left: 5%; width: 632px; height: 113px;"></textarea>
    <br><br>
    <div *ngIf="idCreador == idLog &&!(titulo.includes('RESUELTO'))">
      <p class="edit" (click)="Servicio.nextMessageVerModi(true); Servicio.nextMessageIdTema(idTema);Servicio.nextMessageVerTema(false);">Editar</p>
    </div>
    <div *ngIf=" idCreador == idLog || ad">
      <p class="elim" (click)="eliminar()">Eliminar</p>
    </div>
  </div>
  <br><br>
  <p class="comments">Comentarios:</p>
  <hr>
  <div *ngFor="let p of replies; index as i"  >
    <div class="contenedor">
      <p class="time"> Se publicó el {{time[i]}}</p>
      <tr>
        <td width="100"  rowspan="4"> <img class="icon3" src="../../assets/user.png" alt="user"><p class="nom">{{nomUser[i]}}</p></td>
        <td width="300"><p class="tit2">{{replies[i]}}</p></td>
      </tr>
      <tr>
        <div *ngIf="ad">
          <p class="elim2" (click)="eliminarReply(this.ides[i])">Eliminar</p>
        </div>
      </tr>
    </div>
  </div>
  <br>
  <tr>
    <td width="100"  rowspan="4"> <img class="icon4" src="../../assets/user.png" alt="user"><p class="nom2">{{nomLog}}</p></td>
    <td width="300"><p class="añadir">Deja tu comentario:</p>
      <textarea  required name="body"  [(ngModel)]="comment" rows="4" cols="50" id="c"  style="margin-left: 20%; width: 632px; height: 113px;"></textarea>
      <button type="button" class="com" (click)="comentar()">Comentar</button></td>
  </tr>
  <br><br>
</div>
