
<div *ngIf="!logeado" class="log"><br/><br/>
  <img src="../../assets/LogoF.png" class="logoSuperior">
  <div class="container">
    <label class="user"><b>Nombre de usuario</b></label>
    <input type="text" placeholder="Usuario" name="uname" required [(ngModel)]="nomUsuario" (click)="aviso=false" >

    <label class="passw"><b>Contraseña</b></label>
    <input type="password" placeholder="Contraseña" name="psw" required [(ngModel)]="contrasena" (click)="aviso=false">

    <button (mouseenter)="Servicio.nextMessage2(false);"
      (click)="comprobar(); resetearCampos() " type="submit">Iniciar sesión</button>
  </div>

    <button
      (click)="logeado=true; sendMessageFather(); resetearCampos(); " type="button" class="regbtn">Registrarse</button>


  <div *ngIf="aviso" class="datosMal">
      <label class="error">Usuario o contraseña incorrecta</label>
  </div>

</div>
