.vista-lista{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: Roboto, serif;
  overflow: auto;
}

.menu {
  width: auto;
  padding: 0.75% 1%;
  background-color: white;
  margin-left: 3%;
  margin-top: 2%;
  color: black;
  cursor: pointer;
}
.menu2 {
  width: auto;
  padding: 0.75% 1%;
  background-color: mediumturquoise;
  margin-left: 3%;
  margin-top: 2%;
  color: black;
  cursor: pointer;
}

.perfil{
  width: auto;
  padding: 0.75% 1%;
  background-color: mediumturquoise;
  margin-left:75%;
  margin-top: 2%;
  color: black;
  cursor:pointer;
}

.iconUser{
  width:2%;
}

.tituloCurso{
  margin-left: 5%;
  font-size: 200%;
}
.c{
  font-size: 150%;
  margin-left: 1%;
  display: inline-block;
  cursor: pointer;
}

.icon{
  margin-left: 2%;
  margin-top: 2%;
  height: 5%;
  width: 5%;
}

.contenedor{
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 2%;
  border: solid 1px black;
  background-color: mediumturquoise;
  box-shadow: 0 10px 10px grey;

}

.nuevo{
  font-size: 14px;
  margin-left: 75%;
  cursor: pointer;
}

.elim{
  font-size: 12px;
  margin-left: 85%;
  cursor: pointer;
}

.newAs{
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 30%;
  width: 30%;
  height: 10%;
  background-color: mediumaquamarine;
  font-family: Roboto, serif;
}

.text{
  margin-left: 2%;
  margin-top: 2%;
}
.sig{
  margin-left: 2%;
  margin-top: 2%;
}
