<div *ngIf="aparecer" class="vista-lista">
  <button type="button" class="menu" (click)="Servicio.nextMessageCentral(true);Servicio.nextMessageVistaLista(false);anyadir=false">Inicio</button>
  <button type="button" class="menu2" (click)="anyadir=false">{{curso}}</button>
  <button type="submit" class="perfil" (click)="Servicio.nextMessageVerPerfilUser(true);Servicio.nextMessageVistaLista(false)">Mi cuenta</button>
  <hr>
  <br>
  <p class="tituloCurso">Asignaturas de {{curso}} Curso:</p>
  <br>
  <div *ngFor="let p of result; index as i" >
    <div class="contenedor">
      <img class="icon" src="../../assets/asignatura.png" alt="Asignatura"><p class="c" (click)="Servicio.nextMessageVistaAsig(true);Servicio.nextMessageVistaLista(false);
    Servicio.nextMessageObjAsig(result[i]); Servicio.nextMessageIDAsig(ides[i]);">{{result[i]}}</p>
      <div *ngIf="ad">
        <p class="elim" (click)="eliminarAs(ides[i])">Eliminar</p>
      </div>
    </div>
  </div>
  <br><br>
</div>
