<div *ngIf="mostrar" class="vista-asig">
  <button type="button" class="menu" (click)="Servicio.nextMessageCentral(true);Servicio.nextMessageVistaLista(false);
Servicio.nextMessageVistaAsig(false)">Inicio</button>
  <button type="button" class="menu2" (click)="Servicio.nextMessageVistaLista(true);
Servicio.nextMessageVistaAsig(false)">{{curso}}</button>
  <button type="button" class="menu3">{{subject}}</button>
  <button type="submit" class="perfil" (click)="Servicio.nextMessageVerPerfilUser(true);Servicio.nextMessageVistaAsig(false)">Mi cuenta</button>
  <br>
<br>

  <div class="rectangulo">
    <br>
    <form>
      <label class="tem"><b>Título</b></label><input type="text" size="40" required name="tema" [(ngModel)]="tema"><img class="icon"(click)="buscarTitulo()" src="../../assets/lens.png" alt="Buscar">
      <label class="category"><b>Categoría</b></label>
      <select  name="cursos" id="cat" style="width:95px" [(ngModel)]="cat" (change)="ordeCat()">
        <option value="Duda">Duda</option>
        <option value="Apuntes">Apuntes</option>
        <option value="Búsqueda grupo/pareja prácticas">Búsqueda grupo/pareja prácticas</option>
        <option value="Anuncio">Anuncio</option>
        <option value="Otra">Otra</option>
      </select><br><br>
      <label class="date"><b>Fecha</b></label>
      <select name="cursos" id="fechas" [(ngModel)]="fech" (change)="ordenFecha()">
        <option value="created">Recientes</option>
        <option value="updated">Actualizadas</option>
      </select><br><br>
    </form>
  </div>
  <br>
  <button type="button" class="new" (click)="Servicio.nextMesssageCrearTema(true);Servicio.nextMessageVistaAsig(false)">Nuevo Tema</button>
  <br><br>
  <div *ngFor="let p of posts; index as i" >
    <div class="contenedor">
      <img class="icon2" src="../../assets/tema.png" alt="Tema"><p class="tit" (click)=" Servicio.nextMessageVerTema(true);Servicio.nextMessageIdTema(ides[i]); Servicio.nextMessageVistaAsig(false);Servicio.nextMessageVistaLista(false);">{{p}}</p>
      <p class="time">{{time[i]}}</p><p class="cat">{{type[i]}}</p>
    </div>
  </div>
  <br>

</div>
