.crear-tema{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightcyan;
  font-family: Roboto, serif;
  overflow: auto;
}

.menu {
  width: auto;
  padding: 0.75% 1%;
  background-color: white;
  margin-left: 3%;
  margin-top: 2%;
  color: black;
  cursor: pointer;
}
.menu2 {
  width: auto;
  padding: 0.75% 1%;
  background-color: white;
  margin-left: 1%;
  margin-top: 2%;
  color: black;
  cursor: pointer;
}

.menu3{
  width: auto;
  padding: 0.75% 1%;
  background-color: mediumturquoise;
  margin-left: 1%;
  margin-top: 2%;
  color: white;
  cursor: pointer;
}

.perfil{
  width: auto;
  padding: 0.75% 1%;
  background-color: mediumturquoise;
  margin-left:85%;
  margin-top: 1%;
  color: white;
  cursor:pointer;
}

.title{
  margin-left: 15%;
  font-size: 200%;
}

.asunto{
  margin-left: 20%;
}

.category{
  margin-top: 5%;
  margin-left: 20%;
}

.body{
  margin-top: 5%;
  margin-left: 20%;

}

.pub{
  margin-left: 75%;
  background-color: mediumturquoise;
  cursor: pointer;
}

