<app-login (messageEvent)="receiveMessageChild($event)"></app-login>
<div *ngIf="registro1" class="registro"><br/><br/>
  <img src="../../assets/LogoF.png" class="logoSuperior">


  <p>Registro de nuevo usuario</p>
  <form>
    Nombre usuario:<i style="color: red;" *ngIf="nickCorrecto()">Ya existe este usuario</i><br/>
    <input  type="text" id="regAlias" name="regAlias" [(ngModel)]="alias" (focusin)="existeUsuario()"
            (focusout)="existeUsuario()"><br/><br/>

    Correo: <img src="../../assets/asterisco.png" class="ast"> <br/>
    <input  class ="inputC" type="text" id="regNom" name="correo" [(ngModel)]="correo"><br/><br/>

    Curso:<br/>
    <select name="cursos" id="cursos" [(ngModel)]="curso">
      <option value="prim">1</option>
      <option value="seg">2</option>
      <option value="ter">3</option>
      <option value="cuar">4</option>
    </select><br/><br/>

    Contraseña:<br/>
    <input  type="password" id="regPass" name="regPass" [(ngModel)]="pass"><br/><br/>

    Repita contraseña:<br/>
    <input  type="password" id="regPass2" name="regPass2" [(ngModel)]="pass2"><br/><br/>

    <input type="checkbox" (click)="alternarAceptado()"> Acepto las condiciones y terminos de uso <br/><br/>

    <button class="sig" *ngIf="datosok()" (click)="registrado();Servicio.nextMessageCentral(true); this.registro1=false">Registrarse</button>
    <button  *ngIf="!datosok()" disabled class="denegado">Registrarse</button>
    <button class="boton-aux" (click)="registro1=false;newToLogin()">Cancelar</button>

  </form>

  <p class="ob"> * El correo introducido tiene que ser el perteneciente a la Universidad de Zaragoza</p>
</div>

